@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  margin: 0;
  padding: 0px;
  background: #ffffff;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
  padding: 0px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 10px;
  padding-top: 23px;

  position: relative;
}

nav li {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav li:hover {
  color: #000;
}

nav li::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #000000;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav li:hover::before {
  width: 100%;
}
